/* @media screen and (min-width: 480px) {
    .container {
      max-width: 428px;
    }
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    }
  
    .hero-container {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 767px) {

  } */